<div class="panel_contents">
	<form method="get" id="q_search" class="filter_form" action="<%=AppConfig.url%>/orders" accept-charset="UTF-8">
		<div style="margin:0;padding:0;display:inline">
			<input type="hidden" value="✓" name="utf8">
		</div>
		<div class="filter_form_field filter_select">
			<select name="" id="q_status" style="display:none;">
				<option value="Report">Report</option>
		 	</select>
		</div>
		<%if params[:report]%>
			<div class="buttons">
				<input type="submit" value="Orders" name="commit" style="cursor:pointer;
				background:#6E6E6E;color:white">
			</div>
		<%else%>
			<div class="buttons">
				<input type="submit" value="Report" name="commit" style="cursor:pointer;
				background:#6E6E6E;color:white">
				<input type="hidden" value="true" name="report" id="hidden_active_admin_report">
			</div>
		<%end%>

		<br>
	</form>
</div>