<tr>
                        <td style="padding-top: 10px;">
                            <table style="border-collapse: collapse;mso-table-lspace: 0pt;mso-table-rspace: 0pt;" width="100%" height="38" cellspacing="0" cellpadding="0" border="0" align="center" valign="middle">
                                <tbody>
                                    <tr>
                                        <td style="color: #FFFFFF;display: block;border-radius: 0;background-color: #002d4d;" valign="middle" align="center" height="38"><a href="javascript;:" style="color: #FFFFFF;text-align: center;text-decoration: none;-webkit-text-size-adjust: none;font-size: 14px;line-height: 33px;display: inline-block;text-transform:uppercase;font-family: 'Lato', Arial, sans-serif;"><!--[if gte mso 9]><span style="font-weight:500;font-size:18px;"><![endif]-->Order Details<!--[if gte mso 9]></span><![endif]--></a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    <tr>
                    	<td align="center">
                    		<table height="50" width="590" border="0" cellpadding="0" cellspacing="0" valign="middle">
                    			<tr>
                    				<td height="50" valign="middle" style="color: #333959;font-size: 14px;line-height: 125%;font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;">
                    					Order No: <span style="color: #e33592;font-weight: bold;font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;">#<%=@order_number%></span>
                    				</td>
                    			</tr>
                    		</table>
                    	</td>
                    </tr>
                    <tr>
                    	<td>
                    		<table cellspacing="0" cellpadding="0" border="0" align="center" height="1" width="100%">
                    			<tr>
                    				<td height="1" style="height: 1px;width: 100%; background-color: #c2c2c2;"></td>
                    			</tr>
                    		</table>
                    	</td>
                    </tr>
                    <tr>
                    	<td style="padding: 13px 30px" align="center">
                    		<table width="590" cellspacing="0" cellpadding="0" border="0" align="center">
                    			<tr>
                    				<td width="60%" align="left" valign="top">
                    					<h4 style="color: #333959;font-size: 14px;line-height: 145%;font-weight:bold;font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;margin: 0">Ordered date:</h4>
                    					<p style="color: #222222;font-size: 14px;line-height: 155%;font-weight:normal;font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;margin: 0"><%=@order_date%></p>
                    				</td>
                    				<td width="40%" align="left">
                    					<h4 style="color: #333959;font-size: 14px;line-height: 145%;font-weight:bold;font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;margin: 0">Shipping To:</h4>
                    					<p style="color: #222222;font-size: 14px;line-height: 155%;font-weight:normal;font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;margin: 0"><%= @buyer_name %>,<br>
                    					<%=@addr1%>,<br>
                    					<%=@addr2%></p>
                    				</td>
                    			</tr>
                    		</table>
                    	</td>
                    </tr>
                    <tr>
                    	<td height="45">
                    		<table cellspacing="0" cellpadding="0" border="0" align="center" height="45" width="100%">
                    			<tr>
                    				<td height="45" width="100%">
                    					
                    				</td>
                    			</tr>
                    		</table>
                    	</td>
                    </tr>
                    <tr>
                        <td style="padding: 13px 30px" align="center">
                            <table width="590" cellspacing="0" cellpadding="0" border="0" align="center">
                                <tbody>
                                  <tr>
                                     <td width="50%" align="left">
                                          <table cellspacing="0" cellpadding="0" border="0" align="left">
                                              <tbody><tr>
                                                  <td style="border:1px solid #bbbbbb; height:71px; width:71px; display:inline-block; text-align:center;">
                                                      <img src="<%= @product_img %>" style="max-width:100%; max-height:100%">
                                                  </td>
                                                  <td style="padding-left: 12px; vertical-align: top;">
                                                      <h4 style="color: #333959;font-size: 14px;line-height: 145%;font-weight:bold;font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;margin: 0"><%= @product_headline %></h4>
                                                      
                                                  </td>
                                              </tr>
                                          </tbody></table>
                                      </td>
                                	<td width="40%" align="right">
                                		<table cellspacing="0" cellpadding="0" border="0" align="right" height="45" width="100%">
                                			<tr>
                                				<td align="left" height="30" style="color: #222222;font-size: 13px;line-height: 125%;font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif; vertical-align: top;text-align: right;">
                                					Product Price:
                                				</td>
                                				<td align="right" height="30" style="color: #222222;font-size: 13px;width: 100px;line-height: 125%; font-weight: bold; font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif; vertical-align: top;">
                                					$<%= @selling_price %>
                                				</td>
                                			</tr>
                                			<tr>
                                				<td align="left" height="30" style="color: #222222;font-size: 13px;line-height: 125%;font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif; vertical-align: top;text-align: right;">
                                					Payment Charges:
                                				</td>
                                				<td align="right" height="30" style="color: #222222;width: 100px;font-size: 13px;line-height: 125%; font-weight: bold; font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif; vertical-align: top;">
                                					$<%= @payment_charges %>
                                				</td>
                                			</tr>
                                		</table>
                                	</td>
                                 </tr>
                                </tbody>
                            </table>
                          </td>
                    </tr>
                    <tr>
                    	<td>
                    		<table cellspacing="0" cellpadding="0" border="0" align="center" height="1" width="100%">
                    			<tr>
                    				<td height="1" style="height: 1px;width: 100%; background-color: #c2c2c2;"></td>
                    			</tr>
                    		</table>
                    	</td>
                    </tr>
                    <tr>
                    	<td width="30%" align="right"  height="45" style="vertical-align: middle; padding-right: 30px;">
                    		<table cellspacing="0" cellpadding="0" border="0" align="right" valign="middle" width="30%">
                    			<tr>
                    				<td align="left" height="30" style="color: #e33592;font-size: 14px;line-height: 125%;font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif; vertical-align: middle;text-align: right;">
                    					Order Total:
                    				</td>
                    				<td align="right" height="30" style="color: #e33592; width: 100px; font-size: 14px;line-height: 125%; font-weight: bold; font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif; vertical-align: middle;">
                    					$<%= @order_amount%>
                    				</td>
                    			</tr>                                			
                    		</table>
                    	</td>
                    </tr>
                    <tr>
                    	<td>
                    		<table cellspacing="0" cellpadding="0" border="0" align="center" height="1" width="100%">
                    			<tr>
                    				<td height="1" style="height: 1px;width: 100%; background-color: #c2c2c2;"></td>
                    			</tr>
                    		</table>
                    	</td>
                    </tr>