<tr>
     <td style="padding-top: 25px;padding-bottom: 10px;">
		<table>
			<tr>
				<td cellspacing="0" cellpadding="0" border="0" style="font-size: 14px; color: #393939;font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif; line-height: 125%;">
					Best Wishes,<br/>
                         myKlosets Team		
				</td>
			</tr>
		</table>
	</td>
</tr>
<tr>
	<td>
		<table>
			<tr>
				<td cellspacing="0" cellpadding="0" border="0" style="font-size: 14px; color: #e33592;font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif; line-height: 125%;">
					<a href="http://www.myKlosets.com" title="myKlosets" style="font-size: 14px; color: #e33592;font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif; line-height: 125%;text-decoration: none;">myKlosets.com</a>
				</td>
			</tr>
		</table>
	</td>
</tr>