<%comments = Product.last.try(:item_comments)%>
<%comments.each do |comment|%>
	<b>POSTED BY: <%=comment.try(:user).try(:uid)%></b> on <i><%=comment.try(:created_at).strftime("%d %B %Y")%></i><br>
	<%=comment.try(:description)%><br><br>
	<hr>
<%end%>
