<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>My Closet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style type="text/css">
    /* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */
    
    body {
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
    }
    img {
        border: 0;
        height: auto;
        line-height: 100%;
        outline: none;
        text-decoration: none;
    }
    table {
        border-collapse: collapse !important;
    }
    body,
    #bodyTable,
    #bodyCell {
        width: 100% !important;
        height: 100% !important;
        margin: 0;
        padding: 0;
    }
    body {
        -webkit-font-smoothing: antialiased;
    }
    body,
    table,
    td,
    p,
    a,
    li,
    blockquote {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
    /* Prevent WebKit and Windows mobile changing default text sizes */
    
    table,
    td {
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
    }
    /* Remove spacing between tables in Outlook 2007 and up */
    
    img {
        -ms-interpolation-mode: bicubic;
    }
    /* Allow smoother rendering of resized image in Internet Explorer */
    </style>
</head>

<body>
    
    <table border="0" cellpadding="0" cellspacing="0" id="templateContainer" bgcolor="#ffffff" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse !important; width: 650px; margin: 0 auto; background: #ffffff;">
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" align="center" id="templateHead" bgcolor="#ebebeb" style="width:100%; height: 87px; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse !important;">
                    <tr>
                        <td  align="center">
                            <table border="0" cellpadding="0" cellspacing="0" align="center" width="590">
                                <tr>
                                    <%= render 'order_mailer/email_logo'%>
                                    <td border="0" cellpadding="0" cellspacing="0" align="right" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #333959; font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif; font-size: 21px; line-height: 125%; text-align: right; padding: 10px 0px;">
                                        Donation Bag Requested!!
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td align="center" style="padding :22px 0 25px; ">
                <table border="0" cellpadding="0" cellspacing="0" id="templateBody" bgcolor="#ffffff" style="width:100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse !important;">
                    <tr>
                        <td border="0" cellpadding="0" cellspacing="0" align="left" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #333959; font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif; font-size: 14px; line-height: 125%; text-align: left; height: 10px;">
                            Dear <%= @donator_name %>
                        </td>
                    </tr>
                    <tr>
                        <td style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; color: #222222; font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif; font-size: 13px; line-height: 150%; text-align: left;padding: 10px 0; ">
                            We are glad to inform that we have acknowledged your request and sent you the donation bags. Once you get it, please place clean and ready to use clothes in it. If you need more bags, please log into the myKlosets app and request another.<br/><br/>
                            We really appreciate your donation, which will help us raise the funds required to build the ‘ImSafe’ button for the safety of women and children. <br/><br/>
                            Also, check the details of your address given are accurate.You can do this by logging back into your account at myKlosets app.<br/><br/>
                        </td>
                    </tr>
                     <tr>
                        <td style="padding-top: 25px;padding-bottom: 10px;">
                            <table>
                                <tr>
                                    <td cellspacing="0" cellpadding="0" border="0" style="font-size: 14px; color: #393939;font-family: Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif; line-height: 125%;">
                                        We again thank you for the interest to donate for a cause!     
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>                   
                    
                    <%= render 'order_mailer/order_email_footer'%>

                </table>
            </td>

        </tr>
    </table>
</body>

</html>