<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns:v="urn:schemas-microsoft-com:vml">

<head>
    <meta charset="UTF-8">
    <title>My Closet</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <style type="text/css">
    /* /\/\/\/\/\/\/\/\/ RESET STYLES /\/\/\/\/\/\/\/\/ */
    
    body {
        margin: 0;
        padding: 0;
        -webkit-font-smoothing: antialiased;
    }
    img {
        border: 0;
        height: auto;
        line-height: 100%;
        outline: none;
        text-decoration: none;
    }
    table {
        border-collapse: collapse !important;
    }
    body,
    #bodyTable,
    #bodyCell {
        width: 100% !important;
        height: 100% !important;
        margin: 0;
        padding: 0;
    }
    body {
        -webkit-font-smoothing: antialiased;
    }
    body,
    table,
    td,
    p,
    a,
    li,
    blockquote {
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
    }
    /* Prevent WebKit and Windows mobile changing default text sizes */
    
    table,
    td {
        mso-table-lspace: 0pt;
        mso-table-rspace: 0pt;
    }
    /* Remove spacing between tables in Outlook 2007 and up */
    
    img {
        -ms-interpolation-mode: bicubic;
    }
    /* Allow smoother rendering of resized image in Internet Explorer */
    </style>
</head>

<body>

    <table border="0" cellpadding="0" cellspacing="0" id="templateContainer" bgcolor="#ffffff" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse !important; width: 500px; margin: 0 auto; background: #ffffff;">
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" id="templateContainer" width="100%" height="100%" bgcolor="#333959" style="-webkit-text-size-adjust: 100%; height: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse !important; width: 100%; margin: 0 auto; background-size: 100%;">
                    <tr>
                        <td background="http://gd.techaffinity.com/myCloset/welcome-email/img/headerBg.jpg" valign="top" style="-webkit-text-size-adjust: 100%; height: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse !important; width: 100%; margin: 0 auto; background: url(http://gd.techaffinity.com/myCloset/welcome-email/img/headerBg.jpg) no-repeat;background-size: 100%; vertical-align: top;">
                            <!--[if gte mso 9]>
                                <v:rect xmlns:v="urn:schemas-microsoft-com:vml" fill="true" stroke="false" style="mso-width-percent:1000;">
                                <v:fill type="tile" src="http://gd.techaffinity.com/myCloset/welcome-email/img/headerBg.jpg" color="#7bceeb" />
                                <v:textbox style="mso-fit-shape-to-text:true" inset="0,0,0,0">
                            <![endif]-->
                            <table border="0" cellpadding="0" cellspacing="0" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse !important; width: 100%; margin: 0 auto;">
                                <tr>
                                    <td border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
                                        <table border="0" cellpadding="0" cellspacing="0" style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse !important; width: 100%; margin: 0 auto;">
                                            <tr>
                                                <td width="100%" height="20" style="height: 20px;">
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table style="-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; mso-table-lspace: 0pt; mso-table-rspace: 0pt; border-collapse: collapse !important; width: 500px; margin: 0 auto; text-align: center;" align="center">
                                            <tr>
                                                <td>
                                                   <a href="javascript:;" title="My closet" target="_blank"> <img src="http://gd.techaffinity.com/myCloset/welcome-email/img/logo.png" title="My closet" alt="My Closet"></a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="padding-left: 29px; padding-bottom: 3px;">

                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" >
                                            <tr>
                                                <td width="238" style="width:238px;" valign="top">                                                    
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="width:100%; float: left;">
                                                        <tr>
                                                            <td height="30" style="width: 100%; height: 30px;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td style="font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;">
                                                                <h1 style="margin: 0;font-size: 35px;line-height: 85%;font-weight: normal;color: #e33592;font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;">Welcome to</h1>
                                                                <h2 style="margin: 0;font-size: 46px;line-height: 125%;font-weight: bold;color: #e33592;font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;">myCloset</h2>
                                                            </td>
                                                        </tr>
                                                        <tr><td height="20" style="height:20px;"></td></tr>
                                                        <tr><td height="20" style="height:20px;color: #ffffff;font-size: 13px;line-height: 190%;font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;">
                                                        Hi <%= @email %>,<br/>
														Lorem Ipsum is simply dummy text of the printing set.
																		
														<%#= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %>
                                                        </td></tr>
                                                    </table>
                                                </td>
                                                <td align="right">
                                                    <table border="0" cellpadding="0" cellspacing="0" width="100%" style="text-align: right;">
                                                        <tr>
                                                            <td style="padding-right: 5px; text-align: right;" align="right">
                                                                <img src="http://gd.techaffinity.com/myCloset/welcome-email/img/mobile.png" alt="My closet app" title="My Closet">
                                                            </td>
                                                        </tr>
                                                    </table>

                                                </td>
                                            </tr>
                                        </table>    
                                    </td>
                                </tr>
                            </table>                            
                            <!--[if gte mso 9]>
                                </v:textbox>
                                </v:rect>
                            <![endif]-->
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
                    <tr>
                        <td height="34" style="height: 34px;"></td>
                    </tr>
                    <tr>
                        <td style="margin: 0;font-size: 25px;line-height: 85%;font-weight: normal;color: #333959;font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;text-align: center;" align="center">
                            How myCloset Works
                        </td>
                    </tr>
                    <tr>
                        <td height="60" style="height: 60px;"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
                    <tr>
                        <td align="center" valign="middle">
                            <table border="0" cellpadding="0" cellspacing="0" width="444" height="100%" style="width: 444px;">
                                <tr>
                                    <td width="175" style="width:175px;">
                                        <img src="http://gd.techaffinity.com/myCloset/welcome-email/img/sell.png" alt="Sell" title="Sell">
                                    </td>
                                    <td valign="middle" align="left">
                                        <h4 style="margin: 0;font-size: 18px;line-height: 185%;font-weight: normal;color: #e33592;font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;text-align: left;">SELL</h4>
                                        <p style="margin: 0;font-size: 15px;line-height: 150%;font-weight: normal;color: #333959;font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;text-align: left;">Reclaim the value in your closet</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" id="empty">
                    <tr>
                        <td height="50" style="width:50px;"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
                    <tr>
                        <td align="center" valign="middle">
                            <table border="0" cellpadding="0" cellspacing="0" width="444" height="100%" style="width: 444px;">
                                <tr>
                                    <td valign="middle" align="left">
                                        <h4 style="margin: 0;font-size: 18px;line-height: 185%;font-weight: normal;color: #e33592;font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;text-align: right;">BUY</h4>
                                        <p style="margin: 0;font-size: 15px;line-height: 155%;font-weight: normal;color: #333959;font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;text-align: right;">Find the perfect outfit without breaking the bank</p>
                                    </td>
                                    <td width="175" style="width:175px; text-align: right;" align="right">
                                        <img src="http://gd.techaffinity.com/myCloset/welcome-email/img/buy.png" alt="Buy" title="Buy">
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" id="empty">
                    <tr>
                        <td height="20" style="width:20px;"></td>
                    </tr>
                </table>
            </td>
        </tr>

        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
                    <tr>
                        <td align="center" valign="middle">
                            <table border="0" cellpadding="0" cellspacing="0" width="444" height="100%" style="width: 444px;">
                                <tr>
                                    <td width="175" style="width:175px;">
                                        <img src="http://gd.techaffinity.com/myCloset/welcome-email/img/donate.png" alt="Donate" title="Donate">
                                    </td>
                                    <td valign="middle" align="left">
                                        <h4 style="margin: 0;font-size: 18px;line-height: 185%;font-weight: normal;color: #e33592;font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;text-align: left;">DONATE</h4>
                                        <p style="margin: 0;font-size: 15px;line-height: 150%;font-weight: normal;color: #333959;font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;text-align: left;">Help girls in need</p>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%" id="empty">
                    <tr>
                        <td height="70" style="width:70px;"></td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table border="0" cellpadding="0" bgcolor="#ebebeb" cellspacing="0" width="100%" height="98" id="footer" style="background: #ebebeb;">
                    <tr>
                        <td height="18" style="height: 18px;"></td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table border="0" cellpadding="0" bgcolor="#ebebeb" cellspacing="0" width="140" height="34" valign="top" style="width:140px;">
                                <tr>
                                    <td valign="top" align="center">
                                        <a href="https://www.facebook.com/buyrentdonate/
" title="facebook" target="_blank"><img src="http://gd.techaffinity.com/myCloset/welcome-email/img/facebook.png" alt="facebook"></a>
                                    </td>
                                    <td valign="top" align="center">
                                        <a href="https://twitter.com/buyrentdonate" title="twitter" target="_blank"><img src="http://gd.techaffinity.com/myCloset/welcome-email/img/twitter.png" alt="twitter"></a>
                                    </td>
                                    <td valign="top" align="center">
                                        <a href="javascript:;" title="instagram" target="_blank"><img src="http://gd.techaffinity.com/myCloset/welcome-email/img/instagram.png" alt="instagram"></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="20" style="height: 20px;"></td>
                    </tr>
                    <tr>
                        <td align="center">
                            <table border="0" cellpadding="0" bgcolor="#ebebeb" cellspacing="0" width="260" height="20" valign="top" style="width:260px;">
                                <tr>
                                    <td valign="top" align="center" style="font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;">
                                        <a href="http://gd.techaffinity.com/mycloset/#contact-us" title="Contact Us" target="_blank" style="font-size: 13px;line-height: 100%;font-weight: normal;color: #333959; font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif; text-decoration: none;"><span  style="font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;font-size: 13px;">Contact Us</span></a>
                                    </td>
                                    <td valign="top" align="center" style="font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;">
                                        <a href="http://gd.techaffinity.com/mycloset/terms.html" title="Terms of Use" target="_blank" style="font-size: 13px;line-height: 100%;font-weight: normal;color: #333959; font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif; text-decoration: none;"><span  style="font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;font-size: 13px;">Terms of Use</span></a>
                                    </td>
                                    <td valign="top" align="center" style="font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;">
                                        <a href="http://gd.techaffinity.com/mycloset/privacy.html" title="Privacy" target="_blank" style="font-size: 13px;line-height: 100%;font-weight: normal;color: #333959; font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif; text-decoration: none;"><span style="font-family: Verdana, Arial, 'Helvetica Neue', Helvetica, 'Lucida Grande', sans-serif;font-size: 13px;">Privacy</span></a>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td height="16" style="height: 16px;"></td>
                    </tr>
                </table>
            </td>
        </tr>

    </table>
</body>

</html>

